@import "webstatic:/static/global.less";

.web-post-hooks {
    margin-top: @doubleSpacing;
    // to avoid scrollbars in dialog when adding another input fields
    // so this size is enough for all fields
    min-height: 210px;
}

.web-post-hook-hidden {
    display:none;
}

.web-post-hook-delete {
    margin-left: @halfSpacing;
}
